/*
================
Table of contents
===============
1-Left section
2-Right Section


*/


section.hero{
    margin-top:3rem;
}


/*
================
Left section
===============

*/
section.hero .left-section{
    flex-grow:1;
}
section.hero .avatar{
width:88px;
border-radius:50%;
border:1px solid darkorange;
padding:2px;
box-shadow:2px 2px 40px gray inset;


}
section.hero .icon-verified{
color:var(--blue);
font-size:1.1rem;
margin-bottom:0.3rem;
}
section.hero .parent-avatar.flex{
align-items:end;
gap:0.6rem;
min-height:88px;

}

section.hero .title{
font-size:2.85rem;
line-height:3.3rem;
margin:24px 0;
color:var(--title);
}


section.hero p.subtitle{
color:var(--subtitle);
line-height:1.65rem;
margin-bottom:32px;
font-size:0.9rem;

}

section.hero .all-icons{
font-size:1.2rem;
gap:1.5rem;
color:var(--subtitle);
}

section.hero .all-icons .icon{
    transition:0.3s;
}
section.hero .all-icons .icon:hover{
font-size:1.5rem;
cursor:pointer;
color:var(--icon-hover);
}


 

/*
==================
Right section (Animation)
==================

*/
.animation{
width:100%;
translate:100px 0px;

}

@media (max-width:1250px){

section.hero .animation{
    display:none;
}

}